<div class="container-fluid">
   <div class="row">
     <div class="col-sm-12">
       <div class="container">
         <app-stepper-overview></app-stepper-overview>
         <mat-divider></mat-divider>
       </div>
     </div>

     <div class="col-sm-12 separador">
       <div class="container">
         <div class="row">
           <div class="col-sm-6">
               <h1> Total a pagar: ${{this.montoPago}}</h1>
           </div>
           <div class="col-sm-6">
             <button class="btn btn-outline-dark float-right">Vaciar Carrito</button>
           </div>

           <table>
             <tr>
               <th>Nombre Libro</th>
               <th>Cantidad</th>
               <th>Total libro</th>
             </tr>
             <tr *ngFor="let carrito of carritosUsuario">
               <td>{{carrito.nombre_libro}}</td>
               <td>{{carrito.cantidad_libros}}</td>
               <td>{{carrito.libro_total}}</td>
               <td><button class="btn btn-outline-primary">Aumentar 1</button></td>
               <td><button class="btn btn-outline-secondary">Reducir 1</button></td>
               <td><button class="btn btn-outline-danger">Quitar Libro</button></td>
             </tr>
           </table>
          </div>
       </div>
     <div class="col-sm-12 espaciador">
       </div>
     </div>
   </div>

 </div>
