<div class="abrir-modal animacion fadeIn" *ngIf="this.modal">
  <div class="modal" tabindex="-1" role="dialog" style="display: block; padding: 10px">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="modal-title text-center">Hola! acción realizada con éxito...</h1>
          <button (click)="this.cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <mat-divider></mat-divider>
        <div class="modal-body">
          <p>Carrito Vaciado exitosamente! <i class="fas fa-heart" style="font-size: 40px"></i></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
   <div class="row">
     <div class="col-sm-12">
       <div class="container">
         <app-stepper-overview></app-stepper-overview>
         <mat-divider></mat-divider>
       </div>
     </div>

     <div class="col-sm-12 separador">
       <div class="container">
         <div class="row">
           <div class="col-sm-6">
               <h1> Total a pagar: ${{this.montoPago}}</h1>
           </div>
           <div class="col-sm-6">
             <button class="btn btn-outline-dark float-right" (click)="this.abrirModal()">Vaciar Carrito</button>
           </div>

           <table>
             <tr>
               <th>Nombre Libro</th>
               <th>Cantidad</th>
               <th>Total libro</th>
             </tr>
             <tr *ngFor="let carrito of carritosUsuario">
               <td>{{carrito.nombre_libro}}</td>
               <td>{{carrito.cantidad_libros}}</td>
               <td>{{carrito.libro_total}}</td>
               <td><button class="btn btn-outline-primary" (click)="aumentarLibro(carrito)">Aumentar 1</button></td>
               <td><button class="btn btn-outline-secondary" (click)="disminuirLibro(carrito)">Reducir 1</button></td>
               <td><button class="btn btn-outline-danger" (click)="quitarCarrito(carrito)">Quitar Libro</button></td>
             </tr>

           </table>
          </div>
       </div>
     <div class="col-sm-12 espaciador">
       </div>
     </div>
   </div>

 </div>
