<section id="products" class="product py-5">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto col-sm-6 text-center">
                <h1 class="text-capitalize product-title">
                    libros
                </h1>
            </div>
        </div>
        <div class="row product-items" id="product-items">
            <div class="col-10 col-sm-8 col-lg-4 mx-auto my-3">
                <div class="card single-item text-center">
                    <a class="card-link" routerLink="/book">
                        <img src="../../assets/img/bookCard.png" class="card-img-top product-img" alt="caratulaLibro">
                    </a>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5 id="item-name">Libro de ejemplo</h5>
                            <span><i class="fas fa-dollar-sign"></i> 1000</span>
                        </div>
                        <div class="card-text text-center">
                            <h5>Descripcion de libro:</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, vel voluptatum rem
                                deserunt et omnis voluptate provident autem quasi fuga iure impedit distinctio
                                blanditiis, officiis id, labore totam maxime. Autem.</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary text-white center">Aregar al carrito</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-8 col-lg-4 mx-auto my-3">
                <div class="card single-item">
                    <a class="card-link" routerLink="/book">
                        <img src="../../assets/img/bookCard.png" class="card-img-top product-img" alt="caratulaLibro">
                    </a>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5 id="item-name">Libro de ejemplo</h5>
                            <span><i class="fas fa-dollar-sign"></i> 1000</span>
                        </div>
                        <div class="card-text text-center">
                            <h5>Descripcion de libro:</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, vel voluptatum rem
                                deserunt et omnis voluptate provident autem quasi fuga iure impedit distinctio
                                blanditiis, officiis id, labore totam maxime. Autem.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-8 col-lg-4 mx-auto my-3">
                <div class="card single-item">
                    <a class="card-link" routerLink="/book">
                        <img src="../../assets/img/bookCard.png" class="card-img-top product-img" alt="caratulaLibro">
                    </a>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5 id="item-name">Libro de ejemplo</h5>
                            <span><i class="fas fa-dollar-sign"></i> 1000</span>
                        </div>
                        <div class="card-text text-center">
                            <h5>Descripcion de libro:</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, vel voluptatum rem
                                deserunt et omnis voluptate provident autem quasi fuga iure impedit distinctio
                                blanditiis, officiis id, labore totam maxime. Autem.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-8 col-lg-4 mx-auto my-3">
                <div class="card single-item">
                    <a class="card-link" routerLink="/book">
                        <img src="../../assets/img/bookCard.png" class="card-img-top product-img" alt="caratulaLibro">
                    </a>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5 id="item-name">Libro de ejemplo</h5>
                            <span><i class="fas fa-dollar-sign"></i> 1000</span>
                        </div>
                        <div class="card-text text-center">
                            <h5>Descripcion de libro:</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, vel voluptatum rem
                                deserunt et omnis voluptate provident autem quasi fuga iure impedit distinctio
                                blanditiis, officiis id, labore totam maxime. Autem.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-8 col-lg-4 mx-auto my-3">
                <div class="card single-item">
                    <a class="card-link" routerLink="/book">
                        <img src="../../assets/img/bookCard.png" class="card-img-top product-img" alt="caratulaLibro">
                    </a>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5 id="item-name">Libro de ejemplo</h5>
                            <span><i class="fas fa-dollar-sign"></i> 1000</span>
                        </div>
                        <div class="card-text text-center">
                            <h5>Descripcion de libro:</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, vel voluptatum rem
                                deserunt et omnis voluptate provident autem quasi fuga iure impedit distinctio
                                blanditiis, officiis id, labore totam maxime. Autem.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-10 col-sm-8 col-lg-4 mx-auto my-3">
                <div class="card single-item">
                    <a class="card-link" routerLink="/book">
                        <img src="../../assets/img/bookCard.png" class="card-img-top product-img" alt="caratulaLibro">
                    </a>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5 id="item-name">Libro de ejemplo</h5>
                            <span><i class="fas fa-dollar-sign"></i> 1000</span>
                        </div>
                        <div class="card-text text-center">
                            <h5>Descripcion de libro:</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, vel voluptatum rem
                                deserunt et omnis voluptate provident autem quasi fuga iure impedit distinctio
                                blanditiis, officiis id, labore totam maxime. Autem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>