  <div class="info-bar row">
    <div class="col-sm-3 float-right">
      <a routerLink="contacto" class="buttonInfoBar">Obtener Ayuda</a>
    </div>
    <div class="col-sm-6 text-center">
      <small>Paga con:
        <i class="fab fa-cc-paypal" style="font-size: 20px; padding-right: 5px"></i>
        <i class="fab fa-cc-amazon-pay" style="font-size: 20px;padding-right: 5px"></i>
        <i class="fab fa-cc-visa" style="font-size: 20px;padding-right: 5px"></i>
        <i class="fas fa-credit-card" style="font-size: 20px;padding-right: 5px"></i>
      </small>
    </div>
    <div class="col-sm-3 text-right">
      <a routerLink="carro" class="buttonInfoBar">Ir a mi carrito</a>

    </div>
  </div>


