  <div class="info-bar row">
    <div class="col-sm-3 float-right">
      <a routerLink="contacto" class="buttonInfoBar">Obtener Ayuda</a>
    </div>
    <div class="col-sm-6 text-center">
      <a class="buttonInfoBar" routerLink="inicio" style="margin-bottom: 5px">Paga con:</a>
        <i class="fab fa-cc-paypal" style="font-size: 25px; padding-right: 5px;padding-left: 5px"></i>
      -
        <i class="fab fa-cc-amazon-pay" style="font-size: 25px;padding-right: 5px;padding-left: 5px"></i>
      -
        <i class="fab fa-cc-visa" style="font-size: 25px;padding-right: 5px;padding-left: 5px"></i>
      -
      <i class="fas fa-credit-card" style="font-size: 25px;padding-right: 5px;padding-left: 5px"></i>
    </div>
    <div class="col-sm-3 text-right">
      <a routerLink="carro" class="buttonInfoBar">Ir a mi carrito</a>

    </div>
  </div>


