<!-- MODAL -->
<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
  <div class="modal" tabindex="-1" role="dialog" style="display: block; padding: 10px">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-center">¡Agrega libros a tu carrito ingresando a LibreriaCool!</h2>
          <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">

              <form #loginForm=ngForm (ngSubmit)="onSubmit()">
                <!--<div class="alert alert-danger" [hidden]="!error">{{error}} </div>-->
                <div class="form-group row">

                  <div class="col-sm-12 espaciador">
                    <div class="row">
                      <label for="inputFirstName" class="col-sm-4 col-form-label">Nombre</label>
                      <div class="col-sm-8">
                        <input type="text" name="first_name" class="form-control" id="inputFirstName" placeholder="Ingresa tu nombre" [(ngModel)]="cliente.first_name"
                               required>
                        <div class="alert alert-danger" [hidden]="!error.first_name">{{error.first_name}} </div>

                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 espaciador">
                    <div class="row">
                      <label for="inputLastName" class="col-sm-4 col-form-label">Apellidos</label>
                      <div class="col-sm-8">
                        <input type="text" name="last_name" class="form-control" id="inputLastName" placeholder="Ingresa tus apellidos" [(ngModel)]="cliente.last_name"
                               required>
                        <div class="alert alert-danger" [hidden]="!error.last_name">{{error.last_name}} </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 espaciador">
                    <div class="row">
                      <label for="inputRut" class="col-sm-4 col-form-label">Rut</label>
                      <div class="col-sm-8">
                        <input type="text" name="rut" class="form-control" id="inputRut" placeholder="Ingresa tu rut" [(ngModel)]="cliente.rut"
                               required>
                        <div class="alert alert-danger" [hidden]="!error.rut">{{error.rut}} </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 espaciador">
                    <div class="row">
                      <label for="inputEmail" class="col-sm-4 col-form-label">Email</label>
                      <div class="col-sm-8">
                        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Ingresar correo electrónico" [(ngModel)]="cliente.email"
                               required>
                        <div class="alert alert-danger" [hidden]="!error.email">{{error.email}} </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 espaciador">
                    <div class="row">
                      <label for="inputAddress" class="col-sm-4 col-form-label">Dirección de envío</label>
                      <div class="col-sm-8">
                        <input type="text" name="address" class="form-control" id="inputAddress" placeholder="Ingresar dirección de envío" [(ngModel)]="cliente.address"
                               required>
                        <div class="alert alert-danger" [hidden]="!error.address">{{error.address}} </div>
                      </div>
                    </div>
                  </div>
                    <div class="col-sm-12 espaciador" style="padding-top: 25px;">
                      <div class="row">
                        <div class="col-sm-6">
                          <button type="submit" class="btn btn-outline-primary float-left" [disabled]="!loginForm.valid">Ingresar</button>
                        </div>
                        <div class="col-sm-6">
                          <button class="btn btn-outline-danger float-right" (click)="cerrarModal()">Cancelar</button>
                        </div>
                      </div>
                    </div>

                </div>

              </form>

            </div>
          </div>
        </div>

          </div>
        </div>
      </div>
    </div>




<div class="container-fluid">
  <div class="container">
    <div class="section">
      <div class="row">

        <div class="col-lg-12">
          <div class="d-inline-flex">
            <h1>Libros
              <a class="mat-body-2 ml-3" routerLink="/libros" title="Ver todas">Ver todos</a>
            </h1>
          </div>
          <mat-divider></mat-divider>
        </div>

        <div class="col-lg-12">
          <app-carrousel></app-carrousel>
          <mat-divider></mat-divider>
        </div>

        <div class="col-lg-12">
          <div class="d-inline-flex">
            <h1> Novedades
              <a class="mat-body-2 ml-3" routerLink="/libros" title="Ver todas">Ver todos</a>
            </h1>
          </div>
        </div>
        <div class="col-lg-12">
          <section id="products" class="product py-5">
            <div class="row product-items" id="product-items">
              <div class="col-3 col-sm-3 col-lg-3 mx-auto my-3" *ngFor="let libro of libros.slice(0,12)">
                <div class="card single-item">
                  <a [routerLink]="['/book', libro.id_book]">
                    <img src="{{libro.url_image}}" alt="caratulaLibro" class="card-img-top product-img">
                  </a>
                  <div class="card-body">
                    <div class="card-title">
                      <a [routerLink]="['/book', libro.id_book]">
                        <h2 class="text-center">{{libro.title}}</h2>
                      </a>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <table class="spacingTable">
                          <th>
                            <tr class="filaTabla">Autor: {{libro.author}}</tr>
                            <tr class="filaTabla">Precio: <i class="fas fa-dollar-sign"></i> {{libro.price}}</tr>
                            <tr class="filaTabla">Stock: {{libro.stock}} unidades</tr>
                          </th>
                        </table>
                      </div>
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-lg-12">
                            <button class="btn btn-primary colorsizeButton" (click)="abrirModal()">Agregar a Carro</button>
                          </div>

                        </div>
                      </div>

                    </div>
                    <br>
                    <mat-divider></mat-divider>
                    <div class="card-text text-center">
                      <span>Rating: {{libro.rating}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <mat-divider></mat-divider>
        </div>

        <div class="col-lg-12">
          <div class="d-inline-flex">
            <h1> Destacados (Mayor a menor)
              <a class="mat-body-2 ml-3" routerLink="/libros" title="Ver todas">Ver todos</a>
            </h1>
          </div>
        </div>

        <div class="col-lg-12">
          <section class="product py-5">
            <div class="row product-items">
              <div class="col-3 col-sm-3 col-lg-3 mx-auto my-3" *ngFor="let libro of librosRated">
                <div class="card single-item">
                  <a [routerLink]="['/book', libro.id_book]">
                    <img src="{{libro.url_image}}" alt="caratulaLibro" class="card-img-top product-img">
                  </a>
                  <div class="card-body">
                    <div class="card-title">
                      <a [routerLink]="['/book', libro.id_book]">
                        <h2 class="text-center">{{libro.title}}</h2>
                      </a>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <table class="spacingTable">
                          <th>
                            <tr class="filaTabla">Autor: {{libro.author}}</tr>
                            <tr class="filaTabla">Precio: <i class="fas fa-dollar-sign"></i> {{libro.price}}</tr>
                            <tr class="filaTabla">Stock: {{libro.stock}} unidades</tr>
                          </th>
                        </table>
                      </div>
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-lg-12">
                            <button class="btn btn-primary colorsizeButton" (click)="abrirModal()">Agregar a Carro</button>
                          </div>

                        </div>
                      </div>

                    </div>
                    <br>
                    <mat-divider></mat-divider>
                    <div class="card-text text-center">
                      <span>Rating: {{libro.rating}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

      </div>

    </div>
  </div>
  <mat-divider></mat-divider>



  <!-- textos sobre la tienda de libros, despacho, blablabla-->
</div>
<section class="services py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto col-md-6 col-lg-5 my-3">
          <span class="service-icon">
            <i class="fas fa-book fa-3x"></i>
          </span>
        <h4 class="font-weight-bold text-uppercase">
          variedad de libros
        </h4>
        <p class="text-capitalize">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit repudiandae tempora ab fuga dolor ver</p>
      </div>
      <div class="col-10 mx-auto col-md-6 col-lg-5 my-3">
          <span class="service-icon">
            <i class="fas fa-globe fa-3x"></i>
          </span>
        <h4 class="font-weight-bold text-uppercase">
          envio internacional gratuito
        </h4>
        <p class="text-capitalize">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit repudiandae tempora ab fuga dolor ver</p>
      </div>
    </div>
  </div>
</section>
