

<div class="container-fluid">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="d-inline-flex">
            <h1> Libros</h1>

          </div>
          <mat-divider></mat-divider>

        </div>


        <div class="col-lg-12">
          <div class="d-inline-flex">
            <h2> Novedades Destacadas</h2>
            <a class="mat-body-2 ml-3" routerLink="libros" title="Ver todas">Ver todas</a>
          </div>
          <mat-divider></mat-divider>

        </div>

        </div>
    </div>

  </div>

  </div>
  <div class="container">
    <div class="jumbotron">

      asdsa
    </div>

  </div>

