

<div class="container-fluid">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="d-inline-flex">
            <h1> Libros</h1>

          </div>
          <mat-divider></mat-divider>

        </div>


        <div class="col-lg-12">
          <div class="d-inline-flex">
            <h2> Novedades Destacadas</h2>
            <a class="mat-body-2 ml-3" routerLink="libros" title="Ver todas">Ver todas</a>
          </div>
          <mat-divider></mat-divider>

        </div>

        </div>
    </div>

  </div>

  </div>
  <section class="services py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto col-md-6 col-lg-5 my-3">
          <span class="service-icon">
            <i class="fas fa-book fa-3x"></i>
          </span>
          <h4 class="font-weight-bold text-uppercase">
            variedad de libros
          </h4>
          <p class="text-capitalize">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit repudiandae tempora ab fuga dolor ver</p>
        </div>
        <div class="col-10 mx-auto col-md-6 col-lg-5 my-3">
          <span class="service-icon">
            <i class="fas fa-globe fa-3x"></i>
          </span>
          <h4 class="font-weight-bold text-uppercase">
            envio internacional gratuito
          </h4>
          <p class="text-capitalize">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit repudiandae tempora ab fuga dolor ver</p>
        </div>
      </div>
    </div>
  </section>
